<mat-card>
    <mat-card-title>{{platform?.name}}</mat-card-title>
    <mat-card-subtitle>{{platform?.publisher}}</mat-card-subtitle>
    <img mat-card-image src="https://www.adroitlogic.com/static/assets/images/icons/ips-kubernetes.png">
    <mat-card-content>
        <span>Cost: {{platform?.cost}}</span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Commands</button>
        <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
</mat-card>